
.inputTitle {
    position:relative;
    margin:4%;
    margin-bottom:0%;

    width:92%;

    font-family: 'Lato';
    font-style: normal;
    font-weight : 600;

}

.inputContent{
    position: relative;

    margin:4%;
    width:92%;
    min-height:300px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight : 600;
}

.registerButton {
    /* shape */
    width: 92%;
    min-height : 30px;
    border-radius: 20px;

    background: #F1AF23;
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* position */
    margin:4%;
    
    /* font */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}